<%- include("partials/header") -%>

<main>
    <div class="alert alert-warning" role="alert">
        There are no seats available, try other trains.
    </div>
    <div class="container">
        <a href="/train/<%=trainNumber%>" target="_blank"><button class="btn btn-outline-warning home-btn">
            <i class="fa fa-subway train-icon"></i>View Your Train
        </button></a>
        <h2 class="mt-4 mb-1">Train Ticket Booking</h2>
        <div class="header">
            <h3><span class="bold-text">Train:</span> <%=trainName%> | <%=trainNumber%></h3>
        </div>
        <div class="data">
            <form method="POST" action="/book">
                <input type="number"  id="availableSeats" hidden name="availableSeats" value="<%=availableSeats%>">
                <div class="mb-3">
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                        <label for="trainNumber" class="form-label">Train Number</label>
                        <input type="number" class="form-control" id="trainNumber" aria-describedby="emailHelp" value="<%=trainNumber%>" readonly name="trainNumber">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label for="date" class="form-label">Date of journey</label>
                        <input type="date" class="form-control" id="date" aria-describedby="emailHelp" readonly name="date">
                    </div>
                    <div class="col-lg-4 col-sm-12">
                        <label for="tier" class="form-label">Tier</label>
                        <select class="form-select" aria-label="Default select example" id="tier" name="tier">
                            <option value="SL">SL - Sleeper</option>
                            <option value="3A">3A - AC 3 Tier</option>
                            <option value="2A">2A - AC 2 Tier</option>
                            <option selected value="1A">1A - First AC</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="seatsCount" class="form-label">Number of seats</label>
                  <div class="seat-counter">
                    <div class="counter-item" id="plus">+</div>
                    <input type="number" class="form-control counter-item" id="seatsCount" readonly value="1" name="seatsCount">
                    <div class="counter-item" id="minus">-</div>
                  </div>
                  <div id="emailHelp" class="form-text">You can reserve up to 7 seats at a time if available, currently <span class="highlight"><%=availableSeats%></span> Seats are available.</div>
                </div>
                <button type="submit" class="btn btn-warning" id="book-btn">Book Now</button>
            </form>
        </div>
    </div>
</main>



<script src="/scripts/script.js"></script>
<%- include('partials/footer') %>